
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);

    /* CSS */
    --fire-opal: hsla(9, 67%, 87%, 1);
    --middle-red: hsla(13, 57%, 96%, 1);
    --vivid-tangerine: hsla(9, 38%, 96%, 1);
    --sage: hsla(58, 26%, 77%, 1);
    --shiny-shamrock: hsla(136, 30%, 65%, 1);
 
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    border: solid 20px orange;
    border-radius: 10px;
    border-style: double;
    display: flex;
    justify-content: center;
    overflow: scroll;
    align-items: baseline;
    padding: 20px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 20px;
    border-radius: 15px;
    border-style: double;
    background-color: orange;
    padding: 10px;
    height: 100%;
}

input  {
    display: none;
    cursor: pointer;
}

img {
    height: 300px;
    width: 250px;
    margin: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {
    height: 40px;
    width: 150px;
    font-size: large;
    border: solid black 5px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

label {
    margin: 20px;
}

.name {
    font-size: xxx-large;
    font-family: 'Bangers', cursive;
    margin: 20px;
    align-items: flex-start;
}

.rules {
    font-size: xx-large;
    font-family: 'Bangers', cursive;
    margin: 20px;
}
input:checked + img {
    border: solid black 5px;
    cursor: pointer;
}

input + img {
    cursor: pointer;
    margin: 20px;
}


.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
}

#image-wrapper {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#user-interface {
    margin: 20px;
}